name: Deploy to GKE

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/1069670777841/locations/global/workloadIdentityPools/github-pool/providers/github"
        service_account: "github-deploy@lenny-iac-prd.iam.gserviceaccount.com"

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Get GKE credentials
      run: gcloud container clusters get-credentials my-gke-cluster --region us-central1

    - name: Deploy to GKE
      run: kubectl apply -f k8s/
