project_id           = "your-gcp-project-prd"
environment          = "prd"
collaborators_emails = ["user1@example.com", "user2@example.com", "user3@example.com"]
teacher_email        = "teacher@example.com"
