apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml

commonLabels:
  app.kubernetes.io/name: iac
  app.kubernetes.io/managed-by: kustomize
