name: Deploy to Kubernetes

on:
  push:
    branches:
      - main
      - 11-gke-deploy-a-private-cluster

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Deploy K8s Secret
        env:
          DB_PASS: ${{ secrets.DB_PASS }}
        run: |
          # Remplacer ${DB_PASS} dans le YAML et appliquer
          envsubst < k8s/secret.yaml | kubectl apply -f -
