name: Terraform CI/CD

on:
  push:
    branches: ["**"]
    tags: ['v*']
  pull_request:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest
    # Only include `prd` in the matrix when the run is on the main branch.
    strategy:
      matrix:
        env: ${{ fromJson(github.ref == 'refs/heads/main' && '["dev","prd"]' || '["dev"]') }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Setup GCP credentials
        env:
          GOOGLE_CREDENTIAL_DEV: ${{ secrets.GOOGLE_CREDENTIAL_DEV }}
          GOOGLE_CREDENTIAL_PRD: ${{ secrets.GOOGLE_CREDENTIAL_PRD }}
        run: |
          ENV_UPPER=$(echo "${{ matrix.env }}" | tr '[:lower:]' '[:upper:]')
          SECRET_NAME="GOOGLE_CREDENTIAL_${ENV_UPPER}"
          echo "${!SECRET_NAME}" > $HOME/gcp-creds.json
          chmod 600 $HOME/gcp-creds.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcp-creds.json" >> $GITHUB_ENV
          echo "PROJECT_ID=$(cat $HOME/gcp-creds.json | jq -r .project_id)" >> $GITHUB_ENV
          echo "CLIENT_EMAIL=$(cat $HOME/gcp-creds.json | jq -r .client_email)" >> $GITHUB_ENV

      - name: Display GCP Project Info
        run: |
          echo $GOOGLE_APPLICATION_CREDENTIALS
          echo $CLIENT_EMAIL
          echo $PROJECT_ID

      - name: Connect to GCP
        run: |
          gcloud auth activate-service-account --key-file=$HOME/gcp-creds.json
          gcloud config set project $PROJECT_ID
          

      - name: Init
        run: terraform init -backend-config=backends/${{ matrix.env }}.config

      - name: Format & Validate
        run: |
          terraform fmt -check
          terraform validate

      - name: Plan
        run: terraform plan -var-file=${{ matrix.env }}.tfvars

      - name: Apply (on tag only)
        if: startsWith(github.ref, 'refs/tags/')
        run: terraform apply -auto-approve -var-file=${{ matrix.env }}.tfvars