name: Terraform CI/CD

on:
  push:
    branches: ["**"]
    tags: ['v*']
  pull_request:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [dev, prd]

    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${HOME}/gcp-creds.json

    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Setup GCP credentials
        env:
          GOOGLE_CREDENTIAL_DEV: ${{ secrets.GOOGLE_CREDENTIAL_DEV }}
          GOOGLE_CREDENTIAL_PRD: ${{ secrets.GOOGLE_CREDENTIAL_PRD }}
        run: |
          ENV_UPPER=$(echo "${{ matrix.env }}" | tr '[:lower:]' '[:upper:]')
          SECRET_NAME="GOOGLE_CREDENTIAL_${ENV_UPPER}"
          echo "${!SECRET_NAME}" > $HOME/gcp-creds.json
          chmod 600 $HOME/gcp-creds.json

      - name: Init
        run: terraform init -backend-config=backends/${{ matrix.env }}.config

      - name: Format & Validate
        run: |
          terraform fmt -check
          terraform validate

      - name: Plan
        run: terraform plan -var-file=${{ matrix.env }}.tfvars

      - name: Apply (on tag only)
        if: startsWith(github.ref, 'refs/tags/')
        run: terraform apply -auto-approve -var-file=${{ matrix.env }}.tfvars