name: Terraform CI/CD

on:
  push:
    branches: ["**"]
    tags: ['v*']
  pull_request:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - env: dev
            google_cred: ${{ secrets.GOOGLE_CREDENTIAL_DEV }}
          - env: prd
            google_cred: ${{ secrets.GOOGLE_CREDENTIAL_PRD }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Setup GCP credentials
        run: |
          echo '${{ matrix.google_cred }}' > $HOME/gcp-creds.json


      - name: Init
        env:
          GOOGLE_APPLICATION_CREDENTIALS: $HOME/gcp-creds.json
        run: terraform init -backend-config=backends/${{ matrix.env }}.config

      - name: Format & Validate
        run: |
          terraform fmt -check
          terraform validate

      - name: Plan
        env:
          GOOGLE_APPLICATION_CREDENTIALS: $HOME/gcp-creds.json
        run: terraform plan -var-file=${{ matrix.env }}.tfvars

      - name: Apply (on tag only)
        if: startsWith(github.ref, 'refs/tags/')
        run: terraform apply -auto-approve -var-file=${{ matrix.env }}.tfvars
