name: Terraform CI/CD

on:
  push:
    branches: ["main"]
    tags: ['v*']
  pull_request:
    branches: [main]

permissions:
  id-token: write   # For OIDC
  contents: read

env:
  PRD_ENV_NAME: prd
  MAIN_BRANCH_REF: refs/heads/main

jobs:
  terraform:
    runs-on: ubuntu-latest
    # Matrix contains environments; we'll guard steps so `prd` steps only run on main.
    strategy:
      matrix:
        include:
          - env: dev
            workload_identity_provider: projects/659049800117/locations/global/workloadIdentityPools/github-pool-ci/providers/github-provider-ci
            service_account: terraform-ci-dev@infra-as-code-tek.iam.gserviceaccount.com
            project_id: infra-as-code-tek
          - env: prd
            workload_identity_provider: to_set
            service_account: to_set
            project_id: lenny-iac-prd

    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Authenticate to Google Cloud
        if: ${{ matrix.env != env.PRD_ENV_NAME || github.ref == env.MAIN_BRANCH_REF }}
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ matrix.workload_identity_provider }}
          service_account: ${{ matrix.service_account }}

      - name: Setup gcloud CLI
        if: ${{ matrix.env != env.PRD_ENV_NAME || github.ref == env.MAIN_BRANCH_REF }}
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ matrix.project_id }}

      - name: Init
        if: ${{ matrix.env != env.PRD_ENV_NAME || github.ref == env.MAIN_BRANCH_REF }}
        run: terraform init -backend-config="./init.config"

      - name: Format & Validate
        if: ${{ matrix.env != env.PRD_ENV_NAME || github.ref == env.MAIN_BRANCH_REF }}
        run: |
          terraform fmt -check
          terraform validate

      - name: Plan
        if: ${{ matrix.env != env.PRD_ENV_NAME || github.ref == env.MAIN_BRANCH_REF }}
        run: terraform plan -var-file=${{ matrix.env }}.tfvars

      - name: Apply (on tag only)
        if: ${{ (matrix.env != env.PRD_ENV_NAME || github.ref == env.MAIN_BRANCH_REF) }}
        run: terraform apply -auto-approve -var-file=${{ matrix.env }}.tfvars